<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

    <contextName>spi</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{0}:%m%n</pattern>
        </encoder>
    </appender>

    <!--必须要放在后面 -->
    <logger name="dhome" level="info" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
