<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.cmcc.dhome.device.server.framework.DeviceServerListener">
        <!-- 设置为0，即默认取系统处理器核心数两倍，如果设置为>0，则取numberOfThreads -->
        <property name="numberOfThreads" value="${dsListener.numberOfThreads}" />
        <!-- 181秒没有收到任何消息(心跳间隔60s，即3次超过心跳时间)，则断开与客户端的连接 -->
        <property name="timeoutSeconds" value="${dsListener.timeoutSeconds}" />
        <property name="maxLength" value="${dsListener.maxLength}" />        
        <!-- TCP超期断开时间，单位秒 -->
        <property name="tcpTimeOut" value="${dsListener.tcpTimeOut}" />
        <!-- 登录请求每秒最大处理数 -->
        <property name="loginMax" value="${dsListener.loginMax}" />
    </bean>
        
    <!-- 配置远程redis方法的调用地址 -->
    <bean id="redisService"  class="com.cmcc.dhome.device.server.framework.util.RedisHttpService">
        <property name="baseUrl" value="${transfer.address}" />
        <property name="status" value="${transfer.status}" />
    </bean>
    
    <bean class="com.cmcc.dhome.device.server.framework.processor.OnoffMessageProcessor">
        <property name="intervalParam" value="${onoffProcessor.intervalParam}"></property>
    </bean>

    <!-- 用于定时统计所有实例服务器上的连接总数 -->
    <bean class="com.cmcc.dhome.device.server.framework.zookeeper.DeviceChannelCounter">
        <!-- 多个zookeeper地址之间用,隔开，中间不能有空格。如果部署时，没有zookeeper环境，value配置为空即可，但统计时仅仅是当前实例中的连接数 -->
        <property name="zkurl" value="${DCCounter.zkurl}" />
        <property name="timeout" value="${DCCounter.timeout}" />
    </bean>

</beans>